// main.scss

// Variables
@import 'variables';

// Mixins
@import 'mixins';

// Base Styles
@import 'base';

// Components
@import 'components/line';
@import 'components/button';
@import 'components/card';
@import 'components/modal';
@import 'components/story-area';
@import 'components/container-header';
@import 'components/container-items';
@import 'components/serach-button';
@import 'components/mini-header';
@import 'components/follows';
@import 'components/image-grid';
@import 'components/activity';

// Layouts
@import 'layouts/header';
@import 'layouts/footer';
@import 'layouts/sidebar';
@import 'layouts/content';
@import 'layouts/rightbar';

// Pages
@import 'pages/home';
@import 'pages/about';
@import 'pages/contact';

// Themes
@import 'themes/light';
@import 'themes/dark';

// Icon
@import 'icon';


body{
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    height: 12px; /* Height of the scrollbar (for horizontal bars) */
}

/* This targets the scrollbar's track */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
    border-radius: 10px; /* Optional: Rounded corners for the track */
}

/* This targets the scrollbar's thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background: $color-gray-800 ; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Optional: Rounded corners for the thumb */
}

/* This targets the scrollbar's thumb when hovered */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker color when the thumb is hovered */
}