// _container-items.scss


.container-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;


    .item {
        background-color: #fff;
        //  border: 1px solid #ddd;

        overflow: hidden;
        // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .random-image {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: $border-radius-lg;
        }

        .bottom-info {

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            width: 100%;

            .user-info {
                display: flex;
                align-items: center;
                margin: 10px 0;

                .user-image {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    margin-right: 10px;
                }

                .user-name {
                    font-weight: bold;
                    font-size: 14px;
                    color: $color-gray-700;
                }
            }

            .item-icons {
                display: flex;
                justify-content: space-around;
          
                padding: 10px 0;
           //     border-top: 1px solid #ddd;
                 gap: $spacing-md;
                .item-icon {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                

                    .material-icons {
                        font-size: 24px;
                        color: $color-gray-500;
                        transition: color 0.3s;

                        &:hover {
                            color: #e74c3c;
                            /* Kırmızı renk */
                        }
                    }

                    .count {
                        margin-left: 5px;
                        font-size: 14px;
                        color: $color-gray-500;
                    font-weight: bold;
                    }
                }
            }
        }
    }
}