
// _content.scss

.content{
    flex: 7; 
    flex-wrap: wrap; /* İçerikler sığmazsa yeni satıra geçer */
    overflow: auto; 
    background-color: $color-white;
    padding: $spacing-xl $spacing-xl $spacing-xl 0;
    margin-right: 400px;
}