// _rightbar.scss



.rightbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 0;
    width: 400px;
    height: 100vh;
    background-color: $color-gray-100;

    border-radius: $border-radius-xl 0 0 0;

    ::-webkit-scrollbar {
        width: 7px;
        /* Width of the scrollbar */
        height: 7px;
        /* Height of the scrollbar (for horizontal bars) */
        margin: 5px;
    }

    /* This targets the scrollbar's track */
    ::-webkit-scrollbar-track {
        background: $color-gray-600;
        /* Background of the scrollbar track */
        border-radius: 10px;
        /* Optional: Rounded corners for the track */
        
    }

    /* This targets the scrollbar's thumb (the draggable part) */
    ::-webkit-scrollbar-thumb {
        background: $color-secondary;
        /* Color of the scrollbar thumb */
        border-radius: 10px;
        /* Optional: Rounded corners for the thumb */
        
    }

    /* This targets the scrollbar's thumb when hovered */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
        /* Darker color when the thumb is hovered */
    }
    .rightbar-in {
        flex: 1;
        padding: 0 $spacing-xl $spacing-xl $spacing-xl ;

        overflow-y: scroll;



    }
}